//////////////////////////////
// Add Item
//////////////////////////////

.add_item {
  margin-bottom: bs(4);

  @include bp(alpha) {
    width: 75%;
  }

  @include bp(bravo) {
    width: 50%;
  }
}
