//////////////////////////////
// Item
//////////////////////////////

.item {
  padding: bs() 0;
  border-bottom: 1px solid $c-light-gray;
  margin-bottom: bs();

  @include bp(alpha) {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: bs();
    align-items: center;
  }

  .form_item {

    @include bp(alpha) {
      margin-bottom: 0;
    }

    &-label {
      @include bp(alpha) {
        display: none;
      }
    }
  }

  &-heading {
    font-weight: bold;

    @include bp(alpha) {
      display: none;
    }
  }

  &-name {
    font-size: 18px;
    font-weight: bold;
  }

  &-name,
  &-size,
  &-cost,
  &-spent,
  &-counter {
    margin-bottom: bs(.5);

    @include bp(alpha) {
      margin-bottom: 0;
    }
  }

  &-counter {

    &-count {
      margin-right: 10px;
    }
  }
}
