//////////////////////////////
// Main
//////////////////////////////

.main {
  min-height: 80vh;
  padding: bs();
  margin-bottom: bs(4);

  &-upper {

    @include bp(bravo) {
      display: flex;
    }
  }
}
