//////////////////////////////
// Main
//////////////////////////////

.main {
  min-height: 80vh;
  padding: bs();
  margin-bottom: bs(4);

  &-upper {

    @include bp(bravo) {
      display: grid;
      grid-template-rows: 0.7fr 1fr;
      grid-template-columns: 1fr 1fr;
      grid-gap: bs();
    }
  }
}
